body{
    background-color: rgb(132, 15, 15);
}

a {
    color: rgb(0, 119, 255);
}

.p_yellow_it_un {
    color: yellow;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.p_bold {
    font-weight: bold;
}

span {
    color: rgb(0, 110, 255);
}

.img_left {
    float: left;
    width: 200px;
}

.img_right {
    float: right;
    width: 200px;
}